@model IEnumerable<SecurityInMVC.Models.Employee>
@{
    ViewBag.Title = "SelectEmployees";
}
@if(Session["login"]!=null)
{
    <div style="background-color: sandybrown;width:auto;height:75px;"><h3>Hello  @Session["login"].ToString()</h3></div>
}
<h2>SelectEmployees</h2>
<table border="1">
    @foreach(var m in Model)
    {
        <tr>
            <td>@m.EmpID</td>
            <td>@m.EmpName</td>
            <td>@m.Dept</td>
            <td>@m.Desg</td>
            <td>@m.Salary</td>
            <td>@m.projid</td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Logout","Logout")
</div>